.button {
  padding: 12px 24px;
  width: 100%;
  background: none;
  border: 2px solid #96c83c;
  border-radius: 50px;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  color: #96c83c;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.grayBorder {
  border: 2px solid rgba(#ffffff, .1);
}