.list {
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #383B3D;
  border-radius: 8px;
}

.cardTitle {
  margin-bottom: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.cardImage {
  margin: 20px 0;
  display: block;
  width: 160px;
  height: 160px;
  object-fit: contain;
}

.cardEmpty {
  opacity: .5;
}

.cardDescription {
  margin-top: 4px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: rgba(#ffffff, .6);
}

.cardImageWrapper {
  position: relative;
}

.cardCount {
  position: absolute;
  right: -8px;
  bottom: 16px;
  padding: 2px 10px;
  background: #202324;
  border-radius: 50px;
  font-weight: 700;
  color: #96C83C;
}
