.wrapper {
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  background: #383B3D;
  border-radius: 8px;
}

.imageWrapper {
  margin-bottom: 20px;
  display: flex;
  height: 188px;
  align-items: center;
  justify-content: center;
  background-color: #202324;
  background-image: url(../../assets/img/item-bg.png);
  background-size: cover;
  border-radius: 8px;
}

.image {
  display: block;
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.list {
  margin: auto 0 16px 0;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;

  span:first-child {
    display: flex;
    align-items: baseline;
    flex: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #717171;

    &:after {
      content: '';
      margin-left: 3px;
      flex: 1;
      border-bottom: 1px dashed #717171;
    }
  }

  span:last-child {
    min-width: 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: right;
  }

  span.loh {
    color: #717171;
  }
}