.title {
  margin: 0 0 32px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.description {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}