.wrapper {
  display: flex;
}

.field {
  position: relative;
  width: 680px;
  height: 680px;
  background: url(../../assets/img/bg.svg);
  border-radius: 8px;
  overflow: hidden;
}

.head {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  position: absolute;
  top: 105px;
  left: 50%;
  transform: translateX(calc(-50% - 3px));
}

.shadow {
  filter: brightness(85%);
}
